body
{
 background-color: rgb(119, 172, 172);
}

h1
{
    color: aliceblue;
    background-color: rgb(119, 172, 172);
}

#show_sketch
{
    float:right;
}

canvas
{
    border: 5px solid white;
    border-radius: 25px;
    animation-name: example;
    animation-duration: 3s;
    margin-top: 150px;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from {box-shadow: 3px 3px 40px navy;}
    to {box-shadow: 3px 3px 40px rgb(177, 46, 233)}
}

p
{
    padding-top:10px;
    font-size: 25px;
}